$font-family-sans-serif: 'Montserrat', 'Helvetica Neue', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-serif: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia,
  serif;
$headings-font-weight: 700;
$font-size-base: 1rem;